* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.none-decoration {
    text-decoration: none;
}

.code {
    font-family: monospace;
    background-color: aliceblue;
    color: indigo;
}

body {
    text-align: center;
    background-color: #16161a;
}

header {
    width: 100%;
    background-color: #16161a;
    height: 4.5rem;
    padding: 20px 0 25px 0;
    border-bottom: 2px solid #010101;
}

nav {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav p {
    margin-left: 5rem;
    color: #fffffe;
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    column-gap: 10px;
}

nav li {
    padding: 8px 25px;
    background-color: #72757e;
    border-radius: 8px;
}

nav a {
    color: #fffffe;
    font-weight: 700;
}

nav a:hover {
    color: #94a1b2;
}

.banner {
    min-height: 50rem;
    background-color: #16161a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.banner div {
    margin: auto auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-content: center;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #fffffe;
}

.banner h2 {
    color: #94a1b2;
}

.banner button {
    padding: 20px;
    width: 25%;
    margin: 2rem auto;
    background-color: #7f5af0;
    border-radius: 8px;
    border: 0;
}

.banner button a {
    color: #fffffe;
    font-size: 1.25rem;
}

.banner button a:hover {
    color: #16161a;
}

#section-html, #section-css {
    width: 50%;
    padding: 5.5rem 0;
    margin: 0 auto;
}

.title-section {
    width: 100%;
    border: 2px solid #010101;
    text-align: start;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.title-section h3 {
    color: #fffffe;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#semantic-structure, #flow-and-position {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 1.5rem;
}

h4 {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    margin: 3rem 0;
    color: #94a1b2;
    text-decoration: underline;
}

table {
    background-color: #242629;
    border: 2px solid #010101;
    border-radius: 8px;
    padding: 10px;
}

th {
    padding: 15px;
    color: #fffffe;
}

td {
    padding: 15px;
    color: #94a1b2;
    font-size: 1.1rem;
}

#examples-position h5 {
    font-size: 1.5rem;
    color: #94a1b2;
    font-style: italic;
    margin: 5rem 0;
}

.images-positions {
    width: 100%;
    margin: 0 auto;
}

figure {
    display: inline-block;
    width: 25rem;
    margin: 25px 20px;
}

img {
    width: 100%;
    height: 300px;
    border: 2px solid #010101;
    border-radius: 8px;
}

figcaption {
    font-size: 2rem;
    color: #94a1b2;
}

footer {
    padding: 65px;
}

footer p {
    color: #72757e;
    font-weight: 800;
    font-style: italic;
}

footer a {
    color: #7f5af0;
}